[submodule "third-party/tools-storage"]
	path = third-party/tools-storage
	url = https://github.com/avcd-bsuir/tools-storage
[submodule "third-party/tools-stuff"]
	path = third-party/tools-stuff
	url = https://github.com/avcd-bsuir/tools-stuff
